*{
	font-family: Fira Code Nerd Font;
}

window#waybar {
	background: transparent;
	color: black;
	/* background: rgba(20, 20, 20, 1); */
}

#workspaces{
	margin-left:10px;
}

#workspaces button{
	color:white;
	margin-top: 6px;
    margin-bottom: 0px;
}

#workspaces button.active{
	color: black;
	background-color: white;
	margin-top: 6px;
    margin-bottom: 0px;
}

#mpris {
	border: 1px solid rgb(80,80,80);
	background-color: rgba(255, 255, 255, 0.3);

    transition: none;
    border-radius: 6px 6px 6px 6px;

   	margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 0px;
}

#mpris.playing {
	background-color: white;
}

#clock {
	background-color: white;
	transition: none;
	border: 1px solid rgb(80,80,80);
	border-radius: 6px 6px 6px 6px;
	
	padding-left: 10px;
	padding-right: 10px;

    margin-top: 6px;
    margin-bottom: 0px;
}

#tray {
	border: 1px solid rgb(80,80,80);
	background-color: white;
	transition: none;
    border-radius: 6px 6px 6px 6px;

    margin-top: 6px;
    margin-bottom: 0px;
    
    padding-left: 10px;
	padding-right: 10px;
}

#cpu{
	border: 1px solid rgb(80,80,80);
	background-color: white;
   	
	transition: none;
    border-radius: 6px 0px 0px 6px;
    border-right: 0px transparent;

	padding-left: 10px;
	padding-right: 10px;

    margin-top: 6px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#memory{
	border: 1px solid rgb(80,80,80);
	border-left: 0px transparent;
	border-radius: 0px 6px 6px 0px;

	background-color: white;

	padding-left: 10px;
	padding-right: 15px;

    margin-top: 6px;
    margin-bottom: 0px;
}

#bluetooth {
	border: 1px solid rgb(80,80,80);
	background-color: white;
   	
	transition: none;
    border-radius: 6px 0px 0px 6px;
    border-right: 0px transparent;

    margin-top: 6px;
    margin-bottom: 0px;
    margin-left: 10px;

	padding-right: 20px;
	padding-left: 10px;
}

#network {
	border: 1px solid rgb(80,80,80);
   	background-color: white;
   	
	transition: none;	
	border-right: 0px transparent;
    border-left: 0px transparent;

    margin-top: 6px;
    margin-bottom: 0px;
	
	padding-right: 10px;
}

#wireplumber {
	border: 1px solid rgb(80,80,80);
   	background-color: white;
	   	
	transition: none;
    border-left: 0px transparent;
    border-right: 0px transparent;

    margin-top: 6px;
    margin-bottom: 0px;
    padding-right: 10px;
}

#battery {
	border: 1px solid rgb(80,80,80);
	border-left: 0px transparent;
	border-radius: 0px 6px 6px 0px;

	background-color: white;

    margin-top: 6px;
    margin-bottom: 0px;

	padding-right: 10px;
}

#battery.charging {
	border-left: 2px solid rgba(255,255,255,0.2);
	background-color: rgba(150, 150, 255, 0.3);
}

#custom-power{
	border: 1px solid rgb(80,80,80);
	border-left: 0px transparent;
	border-radius: 6px 6px 6px 6px;

	background-color: white;

	padding-left: 10px;
	padding-right: 10px;

	margin-top: 6px;
    margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
}



